body {
	padding: 0; 
	margin: 0; 
	overflow:hidden;
	background: #eee;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
} 

canvas {
	margin: 5px;
}

div {
  background-color: #fff;
  position: absolute;
  width: 200px;
  height: 200px;
  padding: 10px;
  box-sizing: border-box;
	font-size: 12px; 
  color: #999;
}

.pressed {
	background-color: #fffff0;	
}